* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans";
}

html, .scrollContainer { scrollbar-width: none; }
body, .scrollContainer { -ms-overflow-style: none; } 
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

.page{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    color: #3C3232;
}

.chat{
    display:flex;
    flex-direction: column;
    width:82%;
    height: 90vh;
    padding: 30px;
    background-color: #F9EADC;
    border-radius: 25px;
    gap:25px;
    box-shadow:  hsla(0, 0%, 0%, 0.25) 0px 4px 4px 1px;
}

.chat h1{
    font-size: clamp(1rem, 2vw, 2rem);
}

.chatContent{
    gap: 1rem;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 80%;
    background-color: #FCF4ED;
    border-radius: 25px;
    padding: 50px;
    color: #3C3232;
    box-shadow:  hsla(0, 0%, 0%, 0.25) 0px 4px 4px 1px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.chat input{
    width: 100%;
    border-radius: 12px;
    background-color: #FCF4ED;
    border:none;
    font-size: 1rem;
    padding: 20px 25px 20px 25px;
    color:#3C3232;
    box-shadow:  hsla(0, 0%, 0%, 0.25) 0px 4px 4px 0px;
}

.chatsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13%;
    height: 90vh;
    background-color: #F9EADC;
    border-radius: 25px;
    box-shadow:  hsla(0, 0%, 0%, 0.25) 0px 4px 4px 1px;
}

.chatContainer{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(105, 78, 63);
    border-radius: 10px;
    margin-top: 1rem;
    color: white;
    transition: all 0.1s ease-in-out;
}

.chatContainer:hover{
    cursor: pointer;
    background-color: #c39d84;
}

.chatContainer:active{
    transform: scale(110%);
}

.chatTitle{
    margin: 0;
    padding: 0.5rem 0;
    max-width: 200px;
    width: 10vw;
    text-align: center;
    font-size: clamp(0.6rem, 0.6vw, 1.5rem);
    font-weight: 250px;
}

.show{
    display: flex;
}

.hide{
    display: none;
}




@media (max-width: 1000px){
    .chatsContainer{
        display: none;
    } 
  
    .chat{
        padding: 0rem 1rem;
        padding-top: 2rem;
    }
}


