* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans";
}

.page{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    color: #3C3232;
}

.chat{
    display:flex;
    flex-direction: column;
    width:82%;
    height: 90vh;
    padding: 30px;
    background-color: #F9EADC;
    border-radius: 25px;
    gap:25px;
    box-shadow:  hsla(0, 0%, 0%, 0.25) 0px 4px 4px 1px;
}

.chatContent{
    width: 100%;
    height: 80%;
    background-color: #FCF4ED;
    border-radius: 25px;
    padding: 50px;
    color: #3C3232;
    box-shadow:  hsla(0, 0%, 0%, 0.25) 0px 4px 4px 1px;
}

.chat input{
    width: 100%;
    border-radius: 12px;
    background-color: #FCF4ED;
    border:none;
    font-size: 1rem;
    padding: 20px 25px 20px 25px;
    color:#3C3232;
    box-shadow:  hsla(0, 0%, 0%, 0.25) 0px 4px 4px 0px;
}

.chatSide{
    width: 13%;
    height: 90vh;
    background-color: #F9EADC;
    border-radius: 25px;
    box-shadow:  hsla(0, 0%, 0%, 0.25) 0px 4px 4px 1px;
}