:root {
  --maincolor: #F6DFCA;
  --secondarycolor: #F9EADC;
  --tertiarycolor: #A29090;
  --textcolor: #3C3232;
  --textcolorlight: #FBECE1;
  --title: "Playfair Display", serif;
  --subtitle: "Merriweather Sans", sans-serif;
  --textfont: "Geist Mono", monospace;
}



.dropzone p {
    border-radius: 1rem;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 30px;
    padding: 1.5rem 5rem;
    font-family: var(--subtitle);
    font-size: clamp(0.3rem, 0.9vw, 1.0rem);
    width: 100%;
    max-width: 600px;
    color: white;
    background-color: var(--textcolor);
}



@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 1020px) {
    .dropzone p {
    font-family: var(--subtitle);
    font-size: clamp(0.1rem, 1.5vw, 1.2rem);
    padding: 0.7rem;
    max-width: 600px;
    max-height: 50px;
    color: white;
    background-color: var(--textcolor);
}
}

