
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DotGothic16&family=Doto:wght@100..900&family=Flow+Circular&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Lexend:wght@100..900&family=Oswald:wght@200..700&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    
}


:root{
    --mainColor: #F9EADC;
    --mainColorLight: #F6DFCA;
    --MainColorContrast: #3C3232;
    --secondaryColor: #ffffff;
    --textColor: #3C3232;

    
}

header{
    display:flex;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    align-items: center;
}
.logo {
    width:33%;
    display:flex;
    justify-content: left;
}

.centerNav {
   width:33%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
}

.rightNav {
    width:33%;
    margin-left: auto;
    display:flex;
    justify-content: right;
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

nav a:hover{
    color: var(--secondaryColor);
    background-color: var(--MainColorContrast);
}

header .navBtn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    display: none;
    opacity: 0;
}

@media only screen and (max-width: 1024px){
    header .navBtn {
        display: block;
        opacity: 1;
        padding: 0.5rem 1rem;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        border-radius: 20px;
    }

    header .navBtn:hover{
        color: var(--secondaryColor);
        background-color: var(--mainColorLight);
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

   
}