@import url('../../Styles/main.module.css');

.mainFooter, .foooter {
  background-color: var(--mainColor);
  width: 100%;
  bottom: 0;
  z-index: 999;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 4rem;
  max-width: 1920px;
  margin: 0 auto;
  padding: 5rem 5rem 4rem;
  max-width: 1920px;
}

.footerCopyright {
  display: block;
  padding: 1rem 3rem;

  text-align: center;
  font-size: 0.8rem;
  font-family: var(--textfont);
  color: var(--textColor);
  background-color: var(--mainColorLight);
}

.footerRight {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;

  gap: 2rem;
  margin-top: 0.5rem;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  font-family: var(--title);
}

.footerLogo {
  height: 3em;
  object-fit: cover;
}

.footerName {
  font-size: 1.5rem;
  color: var(--textColor);
  font-family: var(--title);
  font-weight: 650;
}

.footerContent {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: center;
  max-width: 28rem;

  font-family: var(--subtitle);
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.5em;
  color: var(--tertiarycolor);
}

.footerAccounts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.footerBottom {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: center;
}

.footerRightContainerLeft,
.footerRightContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.title {
  color: var(--textColor);
  font-size: 1.3rem;
  margin-bottom: 3rem;
  font-family: var(--title);
  font-weight: 650;
}

.subcontent {
  color: var(--tertiarycolor);
  font-size: 1.15rem;
  margin-bottom: 1.75rem;
  font-family: var(--subtitle);
}

.footerRight a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerRight a::after {
  content: "";
  position: absolute;
  background-color: var(--textColor);
  height: 0.1875rem;
  width: 100%;
  left: 0;
  bottom: -0.625rem;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.footerRight a:hover {
  color: var(--textColor);
}

.footerRight a:hover::after {
  transform: scaleX(1);
}

.footerRight a.active-link::after {
  transform: scaleX(1);
}

.iconCircle.mail {
  color: var(--mainColor);
}
.iconCircle.facebook {
  color: var(--mainColor);
}

.iconCircle.facebook {
  color: var(--mainColor);
}

/*
.icon-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
*/

.iconCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--MainColorContrast);

  scale: 1;
  font-size: 1.5rem;
  text-decoration: none;

  transition: background-color 0.3s ease, color 0.3s ease, scale 0.6s ease;
}

.iconCircle:hover {
  scale: 1.5;
  color: var(--textColor);
  background-color: var(--mainColor);
}

.buttonFooter {
  background-color: var(--mainColor);
  padding: 0.5rem;
  width: 11rem;
  height: 3.5rem;

  border-width: 0.125rem;
  border-radius: 0.25rem;
  border-color: var(--MainColorContrast);

  color: var(--textColor);
  font-size: 1.05rem;
  font-family: var(--subtitle);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonFooter:hover {
  color: var(--mainColor);
  background-color: var(--MainColorContrast);
}

@media only screen and (max-width: 1030px) {
  /* Footer Responsiveness */
  .footerRightContainerLeft,
  .footerRightContainerRight {
    flex-basis: auto;
    align-items: center;
  }

  .footerLeft {
    flex-basis: 100%;
  }

  .footerRight {
    margin-right: 0rem;
    gap: 2rem;
    justify-content: space-around;
  }
  
  .footerContent {
    max-width: fit-content;
  }
}