*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page{
    height: 100vh;
    width: 100vw;
    background: #f2d8c3;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container{
    width: 90%;
    max-width: 1100px;
}

.title{
    font-size: 42px;
    font-weight: 700;
    color: #2c2c2c;
}

.subtitle{
    margin-top: 8px;
    color:#4c4c4c;
    max-width: 700px;
    font-size: 14px;
    line-height: 20px;
}

.topControls{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.search{
    flex: 1;
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #e4d4c8;
    background: white;
    font-size: 14px;
}

.filterBtn{
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #e4d4c8;
    background: white;
    font-size: 14px;
    cursor: pointer;
}

.table{
    background: #f7e7d9;
    margin-top: 35px;
    padding: 25px;
    border-radius: 15px;
}

.tableHeader{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    font-weight: 600;
    color: #4c4c4c;
    margin-bottom: 20px;
    padding: 0 10px;
}

.tableRow{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.docInfo h3{
    font-size: 16px;
    font-weight: 600;
    color: #2c2c2c;
}

.docInfo p{
    font-size: 13px;
    margin-top: 4px;
    color: #6b6b6b;
}

.status{
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.success{
    background: #4caf50;
}

.failed{
    background: #e53935;
}

.processing{
    background: #f57c00;
}
