@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --maincolor: #F6DFCA;
  --secondarycolor: #F9EADC;
  --tertiarycolor: #A29090;
  --fortiarycolor: #FCF4ED;
  --textcolor: #3C3232;
  --textcolorlight: #FBECE1;
  --title: "Playfair Display", serif;
  --subtitle: "Merriweather Sans", sans-serif;
  --textfont: "Geist Mono", monospace;
}

.header{
    padding-top: 1rem;
    padding-left: 2rem;
}

.title{
    display: inline;
}
.title h1{
    font-family: var(--title);
    font-weight: 100;
    font-size: clamp(2rem, 4vh, 5rem);
}

.title h3{
    font-family: var(--subtitle);
    font-weight: 100;
    font-size: clamp(0.50rem, 1.5vh, 2rem);
}

.input{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.search input{
    width: 25rem;
    height: 3rem;
    border-radius: 12px;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.filter select{
    width: 25rem;
    height: 3rem;
    border-radius: 12px;
    background-color: var(--fortiarycolor);
    border: none;
    padding: 1rem;
    cursor: pointer;
}