@import url("../../Styles/main.module.css");

.example {
    box-sizing: border-box;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 5rem 7rem;
    text-align: center;
    overflow-y: visible;
    height: auto;          
}

.aboutSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
    padding: 3rem 3rem;
    box-sizing: border-box;
    min-height: 100vh;     
    height: auto;         
}

.title {
    font-size: 50px;
    font-weight: 700;     
    color: #382E2E;
    margin-bottom: 50px;
    text-align: center;
}

.description {
    font-size: 1.125em;
    font-weight: 300;
    color: #382E2E;
    margin-bottom: 15px;
    max-width: 700px; 
    text-align: center;
    margin-left: 0;     
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 30px; 
}

.aboutImg {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    height: auto;
    border-radius: 30px;
}

.exploreAbout {
    font-size: 50px;
    font-weight: 700;
    color: #382E2E;
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
}

.valueImg {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.missionImg {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.limitationImg {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.cardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;          
    min-height: 430px; 
    background: #F6DFCA;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(56, 46, 46, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardIcon {
    width: 75px;
    height: auto;
    margin-bottom: 20px;
}

.cardTitle {
    font-size: 24px;
    font-weight: 700;
    color: #382E2E;
    margin-bottom: 10px;
}

.cardText {
    font-size: 15px;
    color: #4f4141;
    margin-bottom: 10px;
    line-height: 1.4;
    max-width: 230px;
    flex-grow: 0.3;
}

.button {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid #3C3232;
    background-color: #F6DFCA;
    justify-content: space-between;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #3C3232;
    color: #F6DFCA;   
}

.missionText{
    max-width: 600px;
    text-align: center;
    font-size: 1.125em;
    font-weight: 300;
    color: #382E2E;
    margin-bottom: 15px;
}